@import "reset";

html {
  @include font-secondary;
  height: 100%;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  min-height:100%;
  position:relative;
  padding-bottom: $footer-height + 80px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.page {
  @include main-container;
  margin-top: 60px;

  @include tablet {
    margin-top: 40px;
  }
}

.title-icon {
  width: 48px;
  height: 48px;
}

.navigation {
  display: block;
  margin-bottom: 20px;

  .icon {
    width: 48px;
    height: 48px;
    transition: all .3s cubic-bezier(0.77,0.2,0.05,1.0);

    &:hover {
      transform: scale(1.02);
    }
  }
}
