// colors
$green: #bada55;
$green-light: #D9F7D1;
$pink: #FF167B;
$pink-dark: #AB0769;
$violet: #7614ff;
$violet-light: #8c8cff;
$blue-dark: #2d2d3c;
$gray-light: #d7ddec;
$gray-dark: #707070;

// template
$footer-height: 80px;
